<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.criddam.medicine">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".others.CriddamApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:targetApi="m">
        <activity android:name=".rubelportion.BarcodeActivity"></activity>
        <activity android:name=".rubelportion.NoteeditorActivity" />
        <activity android:name=".rubelportion.HelthnoteActivity" />
        <activity android:name=".rubelportion.Healthiput" />
        <activity android:name=".rubelportion.HealthStatus" />
        <activity
            android:name=".forgetPassword.views.ForgetPasswordActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".homePage.HomeActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".registration.views.RegisterActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".login.views.LoginActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <receiver
            android:name=".others.AlarmReceiver"
            android:exported="true"
            android:process=":remote"
            tools:ignore="ExportedReceiver" />

        <service
            android:name=".others.AlarmService"
            android:enabled="true" />
        <service
            android:name=".others.CridDamJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>